<div class="fondo"></div>
<dialog open>
  <h2>Adicionar Tarea</h2>
  <form>
    <p>
      <label for="titulo">Titulo</label>
      <input type="text" id="titulo" name="titulo" />
    </p>

    <p>
      <label for="resumen">Resume</label>
      <textarea id="resumen" rows="5" name="resumen"></textarea>
    </p>

    <p>
      <label for="expira">Data Límite</label>
      <input type="date" id="expira" name="expira" />
    </p>

    <p class="acciones">
      <button type="button">Cancelar</button>
      <button type="submit">Criar</button>
    </p>
  </form>
</dialog>
