<form>
  <div class="grupo-entrada">
    <p>
      <label for="inversion-inicial">Inversão inicial</label>
      <input id="inversion-inicial" type="number" />
    </p>
     <p>
      <label for="inversion-anual">Inversão Anual</label>
      <input id="inversion-anual" type="number" />
    </p>
  </div>

  <div class="grupo-entrada">
    <p>
      <label for="rendimiento-esperado">Faixa de Retorno Esperado</label>
      <input id="rendimiento-esperado" type="number" />
    </p>
     <p>
      <label for="duracion">Duração</label>
      <input id="duracion" type="number" />
    </p>
  </div>

  <p>
    <button type="button">Calcular</button>
  </p>
</form>
