@if (!resultados) {
<p class="centrar">Por favor, insira algum valor e prima 'Calcular'</p>
} @else {
<table>
  <thead>
    <tr>
      <th>Ano</th>
      <th>Valor Investimento</th>
      <th>Juro (ano)</th>
      <th>Juro Total</th>
      <th>Capital Investido</th>
    </tr>
  </thead>
  <tbody>
    @for (item of resultados; track item.anio) {
    <tr>
      <td>{{ item.anio }}</td>
      <td>{{ item.valorFinalAnio }}</td>
      <td>{{ item.interes }}</td>
      <td>{{ item.interesTotal }}</td>
      <td>{{ item.montoTotalInvertido }}</td>
    </tr>
    }
  </tbody>
</table>
}
