<app-cabecalho />

<main>
  <div id="dashboard">
    <app-dashboard-elemento
      [imagem]="{ src: 'estado.png', alt: 'Um simbolo de señal' }"
      titulo="'Estado do Servidor'"
    >
      <app-estado-servidor />
    </app-dashboard-elemento>

    <app-dashboard-elemento
      [imagem]="{ src: 'globo.png', alt: 'Um globo' }"
      titulo="'Tráfico'"
    >
      <app-trafego />
    </app-dashboard-elemento>

    <app-dashboard-elemento
      [imagem]="{ src: 'lista.png', alt: 'Una lista de items' }"
      titulo="'Registos de Soporte'"
    >
      <app-registo-suporte />
    </app-dashboard-elemento>
  </div>
</main>
